/*

Purple: #5A345E;
Light Carmine Pink: #EF6F6C;
MEDIUM AQUAMARINE: #56e39F;
EUCALYPTUS: #59C9A5;
GRANITE GRAY: #5B6C5D;
*/


body {
  color: #5B6C5D;
  font-family: 'Lato', 'Sans-Serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', serif;
}

a {
  color: rgb(126, 72, 132);
}

a:hover {
  color: #5A345E;
}

hr {
  border-color: #b7c3b8;
}

.navbar-brand {
  padding: 0 15px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #59C9A5;
}


.btn-primary {
  background-color: #5A345E;
  border-color: #452848;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus {
  background-color: #6f4074;
  border-color: #5A345E;
}

.btn-create {
  margin-right: 0;
}

.navbar-inverse {
  background-color: #007f67;
  border: none;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.23);
}

.navbar-inverse .navbar-toggle {
    border:none;
}

.timeslot {
  background-color: #ffffff;
  border-radius:2px;
  border-top: 4px solid #59C9A5;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.24);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.24);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.24);
  margin-bottom: 20px;
  padding:20px;
}

.timeslot:hover {
  border-color:#37a985;
}

.timeslot-booked {
  border-top: 4px solid #EF6F6C;
}

.timeslot-booked:hover {
  border-color:#e72623;
}

.timeslot h1 {
  font-size: 1.8em;
}

.bot-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.welcome-message {
  margin-top:130px;
}

.welcome-buttons {
  margin-top:40px;
}

.logo {
  padding: 3px 4px 3px 0;
  max-width: 67px;
}
