$custom_primary: #27ae60;
$custom_secondary: #d25627;
$custom_warning: #DE9151;
$custom_danger: #F34213;
$custom_info: #BC5D2E;


$medium_aquamarine: #56e39F;
$eucalyptus: #59C9A5;
$granite_grey: #5B6C5D;

body {
  background-color: #f1f2f2;
  color: #5B6C5D;
  font-family: 'Lato', 'Sans-Serif';
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Droid Serif', serif;*/
}

a {
  color: rgb(126, 72, 132);
}

a:hover {
  color: $custom_primary;
}

hr {
  border-color: #b7c3b8;
}

.navbar {
  margin-bottom: 0;
  min-height:4vh;
  a {
    padding: 0;
  }
}


.navbar-inverse {
  border: none;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.23);
  .navbar-nav > li > a, .navbar-brand {
    color: #ffffff;
  }
  .navbar-brand {
    background-color: $custom_secondary;
    padding: 11px 15px;
    &:hover {
      background-color: $custom_secondary;
    }
  }
}

.navbar-inverse .navbar-toggle {
    border:none;
}


@mixin button-color($color) {
  background-color: $color;
  border-color: darken($color, 5%);
  &:hover, &:focus, &:active, &:focus {
  background-color: lighten($color, 5%);
  border-color: $color;
  }
}

.btn {
  border-radius: 0;
}

.btn-primary {
  @include button-color($custom_primary);
}

.btn-warning {
  @include button-color($custom_warning);
}

.btn-danger {
  @include button-color($custom_danger);
}

.btn-info {
  @include button-color($custom_info);
}

.btn-link {
  color: $custom_primary;
  &:hover, &:focus, &:active, &:focus {
    color: darken($custom_primary, 10%);
  }
}

.btn-create {
  @extend .btn-primary;
  margin-right: 0;
}

footer {
  background-color: #0f0f0f;
  font-size: 13px;
  padding: 2px;
  position: fixed;
    bottom: 0;
  text-align: right;
  width: 100%;
  z-index: 100;
  a {
    color: #dddddd;
    margin-right: 22px;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.heading-available, .heading-unavailable {
  text-align: center;
  color: #ffffff;
  background-clip: content-box;
  h2 {
    margin: 0;
    padding: 15px;
  }
}

.heading-available {
  background-color: $custom_primary;
}

.heading-unavailable {
  background-color: $custom_secondary;
}


.timeslot {
  background-color: #e6e7e8;
  border-top: 10px solid $custom_primary;
  padding:20px;
  padding-top:0;
  text-align: center;

  h1 {
    font-size: 1.8em;
  }


  .caretdown {
    width:80px;
    height:20px;
    border-top: 20px solid $custom_primary;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    margin: 0px auto 20px;
  }

}

.timeslot-booked {
  border-top: 10px solid $custom_secondary;

  .caretdown {
    border-top: 20px solid $custom_secondary;
  }

}

.timeslot-day-row {
  margin-bottom:3em;
}

// .timeslot-day-row>.col-md-12>h3 {
//     border-bottom: 1px solid #007f67;
//     padding: 7px 0;
//     margin: 0 0 20px;
// }

.bot-right {
  position: absolute;
  bottom: 0;
  right: 0;
}


.welcome-message, .cancelled-message {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logo {
    max-width: 80px;
  }
}

.logo {
  padding: 3px 4px 3px 0;
}

.sidebar {
  height: 95vh;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .top {
    padding-top:20px;

    .logo {
      max-width: 160px;
    }

  }

  .bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

.sidebar-inner {
  > div {
    flex: 1;
    flex-grow: 1;
  }
}

.scroll-content {
  height: 95vh;
  overflow: scroll;
  padding-top:22px;
}

.toolbar {
  padding-top: 22px;
  padding-bottom: 22px;
}

.datebreaker {
  height: 12px;
}

// Small Screens
@media (max-width: $screen-md) {
  .sidebar {
    height: auto;
  }
  .scroll-content {
    height: auto;
    overflow: visible;
  }

  footer {
    opacity: 0.2;
    &:hover {
      opacity: 1;
    }
  }

  .welcome-message, .cancelled-message {
    height: auto;
  }

}
